body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */

.home-container {
  
}

.header {
  height: 100vh;
  width: 100vw;
  background: #DFE8FF;
}

.header-title {
  font-family: Crimson Text;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 0.18em;
  color: #000;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 15%;
}

.header-subtitle {
  font-family: Roboto Slab;
  font-size: 36px;
  text-align: center;
  color: #000;
}

.header-button {
  width: 200px;
  height: 53px;
  background: #7CA0FF;
  border: none;
  border-radius: 8px;
  color: #FFF;
  font-family: Crimson Text;
  font-weight: bold;
  font-size: 22px;
  margin: 40px auto;
  display: block;
  cursor: pointer;
}

.header-circle {
  width: 94px;
  height: 94px;
  background: #FFF;
  border-radius: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  
  flex-direction: row-reverse;


}

.navbar a {
  padding: 20px;
  margin-right: 50px;
  font-family: Roboto Slab;
  font-size: 14px;
  letter-spacing: 0.18em;
  color: #000;
  text-decoration: none;
}

/* Header End */


/* Ideas  */

.ideas-container {
  width: 100vw;
  height: 100vh;

  
}

.ideas-header {
  font-family: 'Crimson Text';
  font-weight: bold;
  font-size: 24px;
  color: #4A4F5F;
  text-align: center;
}

.idea-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.idea-item-container {
  border: 2px solid #7CA0FF;
  width: 90%;
  margin: 0 auto;
  border-radius: 14px;
  margin-bottom: 10px;
}

.idea-item-container i {
  cursor: pointer;
  text-align: center;
}



.idea-title {
  font-family: 'Roboto Slab';
  font-size: 22px;
  letter-spacing: 0.06em;
}

.idea-like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.idea-item-container * {
  flex-basis: 25%;
}

.idea-like-container * {
  margin: 10px;
}

.idea-status {
  /* gets conditionaly chosen - background: #DFE8FF; */
  width: 44px;
  height: 44px;
  border-radius: 100%;
  flex-basis: auto;
  
}

.ideas-list {
  width: 100%;
}

/* Ideas End */


.add-icon-container {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #4A4F5F;
}

.add-icon-container p {
  font-size: 18px;
  font-weight: bold;
}


/* New Idea */

.new-idea-box  {
  width: 700px;
  height: 800px;
  background: #DFE8FF;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  margin: 60px auto;
}

.new-idea-title {
  font-family: "Roboto Slab";
  font-size: 36px;
  text-align: center;
  color: #000000;
  padding-top: 30px;
  font-weight: normal;
}

.new-idea-input-title {
  width: 80%;
  height: 50px;
  background: #FFF;
  border: 2px solid #B9CCFF;
  margin: auto auto;
  display: block;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 20px;
  border-radius: 12px;
  outline: none;
  
}

.new-idea-input-title::placeholder {
  opacity: 0.6;
  font-family: Roboto Slab;
  font-size: 18px;

}

.new-idea-textarea {
  width: 80%;
  height: 480px;
  display: block;
  margin: 30px auto;
  border: 2px solid #B9CCFF;
  text-align: center;
  font-size: 20px;
  border-radius: 12px;
  padding-top: 12px;
  outline: none;
  font-family: Roboto Slab;
  background: #fff;
}

/* Placeholder Styling */

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  text-align: center;
  opacity: 0.6;
  font-family: Roboto Slab;
  font-size: 20px;
  padding-top: 12px;
}


.new-idea-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.new-idea-submit-btn {
  width: 200px;
  height: 50px;
  background: #7CA0FF;
  border-radius: 8px;
  border: none;
  margin-left: 10%;
  cursor: pointer;
}

.new-idea-cancel-btn {
  width: 200px;
  height: 50px;
  background: #FF7C7C;
  border-radius: 8px;
  border: none;
  margin-right: 10%;
  cursor: pointer;
}

.idea-item-container-toggled {
  display: flex;
  flex-direction: column;
  
  padding-top: 20px;
  height: 600px;
  border: 2px solid #7CA0FF;
  width: 90%;
  margin: 0 auto;
  border-radius: 14px;
  margin-bottom: 10px;
}

.idea-body {
  text-align: justify;
  font-size: 22px;
  font-family: Roboto Slab;
  padding: 20px;
  

}

.idea-header-container {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.idea-toggle {
  display: block;
  align-self: flex-end;
}

hr {
  width: 85%;
  border: 1px solid #7CA0FF;
  border-radius: 20px;
  
}